<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>badgeup-ios-client.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7296F941F78C1EB00D545CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7296FA81F78C1EB00D545CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7296FB31F78C1EB00D545CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
